# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.
# SEE https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file


# files and folders recursively
Makefile                                  @mguidon, @sanderegg


# NOTE: '/' denotes the root of the repository
/ci/                                      @sanderegg
/requirements/                            @mguidon, @sanderegg
/services/gateway/                        @mguidon, @sanderegg
/services/catalog/volume-sync/            @mguidon
requirements/*                            @mguidon, @sanderegg
